@using VforNGOss.ViewModels;
@model OrganizationVM;

@{
    ViewData["Title"] = "Index";
}

<h2 class="mt-4">Display NGOs</h2>
<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
        @foreach(var obj in @Model.OrganizationList)
        {
           <tr class="table-secondary">
                <td width="10%">
                    @obj.Id
                </td>
                <td width="55%">
                    @obj.Email
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                      <a  asp-controller="Organization" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"> &nbsp;
                     <i class="bi bi-pencil-square"></i>
                        Edit
                    </a>
                    <a  asp-controller="Organization" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"> &nbsp;
                     <i class="bi bi-trash"></i>
                        Delete
                    </a>
                    </div>

                </td>
            </tr>            
        }
  </tbody>
</table>